.contact-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 10vw auto;
}
.contact-form {
  grid-column: 2 / span 1;
}
.contact-title {
  padding: 1rem;
  font-size: 5rem;
  margin: 0;
}
.fields-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin-left: 1.5rem;
  width: 40vw;
  height: 85vh;
  background-color: #7e9181;
  border-radius: 25px;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: fit-content;
  font-size: 2rem;
}
input {
  font-family: "Abel";
  font-size: 1.75rem;
  height: 3rem;
  width: 20rem;
  border-radius: 10px;
  appearance: none;
}
textarea {
  border-radius: 10px;
}
::placeholder {
  font-family: "Abel";
  font-size: 1.75rem;
  padding: 0rem 0 0.75rem 0.25rem;
}
#submit {
  font-size: 1.25rem;
  width: 5rem;
  place-self: end;
  margin-top: 1rem;
}
