:root {
  --black: #202124;
  --matcha: #7e9181;
  --light-gray: #c7cedb;
  --med-gray: #a0aab2;
  --washed-pink: #94849b;
  --matcha-grayed: #424d43;
}
*,
::before,
::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
  background-color: #202124;
  color: aliceblue;
  font-family: "PTSans", sans-serif;
}
@font-face {
  font-family: "PTSans";
  font-weight: 300;
  src: url(Assets/Fonts/PTSansNarrow-Regular.ttf);
}
@font-face {
  font-family: "Abel";
  src: url(Assets/Fonts/Abel-Regular.ttf);
}

#projectsBody {
  grid-template-columns: 10% 90%;
  grid-template-rows: 12vh 88vh 12vh 88vh;
  margin: 0%;
  padding: 0;
}
.menu-container {
  position: fixed;
  display: grid;
  align-items: start;
  margin-top: 0%;
  grid-template-rows: minmax(10%, auto) 50%;
  grid-row: 1 / span 4;
  grid-column: 1 / span 1;
  width: 10%;
  height: auto;
  justify-items: center;
  transition: all 350ms;
  z-index: 4;
}
.menu-container.active {
  position: fixed;
  grid-template-rows: minmax(6%, auto) 92.5%;
  grid-column: 1 / span 1;
  width: 10%;
  height: 100vh;
  justify-items: center;
  transition: all 350ms;
  margin-top: 0%;
  background-color: #1b1b1b;
}

.menu-container.active .nav {
  opacity: 1;
}
.burger-menu {
  width: 5vw;
  height: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 10%;
  margin-top: 15%;
}

.line {
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: background-color 0.2s, transform 0.2s;
}

.line2 {
  width: 100%;
  align-self: center;
}

.burger-menu:hover .line2 {
  background-color: magenta;
  transform: scale(0.8);
}

.menu-container.prjs {
  grid-row: 1 / span 2;
}

.menu-container.active .nav {
  display: grid;
}
.burger-menu {
  width: 2.5vw;
  height: 4vh;
  margin-bottom: 0;
  margin-top: 5%;
}
.nav {
  display: none;
  margin-top: 9%;
  justify-items: start;
  transition: opacity 350ms;
  font-size: 2em;
  width: 100%;
  margin-left: 50%;
  margin-top: 15%;
}
.nav a:hover {
  background-color: unset;
  color: unset;
  padding: unset;
  border-radius: unset;
}
/*Main PRJs section styling*/
.prj-wrapper {
  display: flex;
  flex-direction: column;
  grid-row: 2 / span 2;
  grid-column: 2 / span 1;
  min-height: 100vh;
  z-index: 4;
}
header.prjs {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  width: 80vw;
}
.prjs.cert {
  grid-row: 3 / span 1;
}
.header {
  font-size: 5rem;
  padding: 1rem;
  height: 100%;
  margin: 0;
  font-weight: normal;
  font-family: "Abel", sans-serif;
}

h1 {
  margin-left: 0%;
}
footer {
  max-width: fit-content;
}

#vids-wrapper {
  display: flex;
  gap: 1vw;
  max-width: 100vw;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding: 2rem;
  z-index: 4;
}
.solo-vid-wrapper {
  display: flex;
  flex-direction: column;
  width: 14vw;
  z-index: 4;
}
.mag-img-width {
  width: 28vw;
}
.image-block {
  display: flex;
  flex-direction: column;
  width: 14vw;
  height: 7.875vw;
  cursor: pointer;
  transition: transform 300ms, width 300ms;
  filter: grayscale(100%);
  transform: skew(var(--skew));
  --skew: 5deg;
  z-index: 4;
}
.image-block:hover {
  filter: grayscale(0);
}
.image-block.active {
  width: 28vw;
  height: fit-content;
  filter: grayscale(0);
  --skew: 0;
  z-index: 4;
}
.image-block.active ~ .image-block {
  --skew: -5deg;
}

.image-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
}
.copy.visible {
  position: relative;
  opacity: 1;
  max-height: none;
  padding-bottom: 10%;
}
.copy {
  padding-top: 0.5rem;
  display: grid;
  position: absolute;
  max-height: 100%;
  overflow: hidden;
  font-size: 1.2rem;
  opacity: 0;
  transition: all 300ms;
  line-height: 2em;
  margin-top: 0%;
  z-index: 3;
}
.copy > * {
  width: fit-content;
}
.copy b {
  font-size: 1.75rem;
  color: var(--washed-pink);
  font-weight: bold;
}
.icon-wrapper {
  display: flex;
  z-index: 4;
}
.icon {
  font-size: 2rem;
  text-align: center;
  padding: 0.25rem;
  z-index: 4;
}
.icon::before:hover {
  text-align: center;
  transition: all ease-in-out 150ms;
}

#yt-vid-link {
  color: var(--matcha);
}
#yt-vid-link:hover {
  display: inline;
  color: var(--black);
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  opacity: 0;
  bottom: 130%;
  left: -170%;
  width: 10rem;
  font-size: 1rem;
  font-family: "Abel";
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 1rem 0;
  position: absolute;
  z-index: 5;
  transition: all ease-in-out 150ms;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
}
#jerma-logo {
  width: 2rem;
  height: auto;
  z-index: 4;
}

.tooltip .alt-tt-text {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 200px;
  height: 30px;
  z-index: 5;
  top: 100%;
  left: unset;
  right: -300%;
  margin-left: unset;
  padding: 0;
  background-color: black;
}
.tooltip .alt-tt-text::after {
  top: unset;
  bottom: 100%;
  left: 30%;
  border-color: transparent transparent black transparent;
}
#ll-link {
  padding-bottom: 0%;
  padding-right: 0;
}
#ll-link:hover {
  background-color: #003b39;
}
#ll-logo {
  width: 2rem;
  height: auto;
  object-fit: cover;
}
#ll-tt-text {
  width: 100px;
  left: -25%;
}
.certs-wrapper {
  display: flex;
  flex-direction: column;
}
.certs {
  display: flex;
  flex-direction: row;
}
.cert-link {
  width: 30%;
  height: auto;
  padding: 1rem;
}
.cert-link > img {
  width: 100%;
  height: auto;
  object-fit: scale-down;
}
p {
  font-family: "PTSans";
  font-size: 1.575rem;
}
a {
  color: aliceblue;
  text-decoration: none;
  transition: all ease-in-out 150ms;
}
a:hover {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: var(--black);
  background-color: var(--light-gray);
  padding: 0.25rem;
  border-radius: 0.5rem;
}
h4 {
  font-family: "PTSans";
  font-weight: normal;
}
